html, body, figure, figcaption, ul, li, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: -15px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  margin: 10px;
}

h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 10px;
}

div.snake-board {
  display: inline-block;
  border: 2px solid black;
  transition: transform 10s ease-in-out;
}

div.snake-board.rotateIn {
  transform: rotate(360deg);
}

div.snake-board.rotateOut {
  transform: rotate(0deg);
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  font-size: 20px;
  top: -2px;
  color: #FF2323;
  position: relative;
}

.snake {
  background: black;
  border-radius: 5px;
}

div.past-scores {
  font-weight: 300;
  font-size: 35px;
  position: relative;
  top: -719px;
  left: -328px;
}

div.high-score {
  font-weight: 300;
  font-size: 35px;
  position: relative;
  top: -674px;
  left: 328px;
}
