html, body, figure, figcaption, ul, li, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 45px;
  margin: 15px;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

h3 {
  font-size: 33px;
  margin: 10px;
}

div.snake-board {
  display: inline-block;
  border: 2px solid black;
  transition: transform 6s ease-in-out;
}

div.snake-board.rotateIn {
  transform: rotate(180deg);
}

div.snake-board.rotateOut {
  transform: rotate(0deg);
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  font-size: 20px;
  top: -5px;
  color: #FF23EF;
  position: relative;
}

.snake {
  background: black;
  border-radius: 5px;
}

div.past-scores {
  font-size: 35px;
  position: relative;
  top: -688px;
  left: -328px;
}
